h1{
  border: solid black 2px;
}
button{
  width: 80px;
  height: 30px;
  margin-top: 20px;
}
p{
   margin: 4px;
}
.header{
  text-align: center;
}
.messages{
  border: solid black 2px;
}
.score{
  border: solid black 2px;
  margin-top: 20px;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
}